* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.album-titel {
margin: 0 auto;
}

.album-list {

}

.album-box {
    border-radius: 8px;
    color: gray;
    border: solid thin;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.track-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.track-card {
    border: solid thin;
    border-radius: 6px;
}


@media screen and (min-width: 640px) {
    .album-list {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-areas: 'kill-em-all ride-the-lightning '
            ' master-of-puppets and-justice-for-all  '
            'the-black-album load'
            'reload st-anger'
            'death-magnetic hardwired-to-self-destruct'
            '72-seasons'
        ; */
    }

    .album-box {
        margin: 0px;
    }

}

@media screen and (min-width: 960px) {
    .album-list {
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-areas: 'kill-em-all ride-the-lightning master-of-puppets'
            '  and-justice-for-all the-black-album load '
            'reload st-anger death-magnetic'
            'hardwired-to-self-destruct 72-seasons'
        ; */
    }

}