* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px;
}

header nav a:hover{
transform: scale(1.2);
}

#start-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.album-titel {
    margin: 15px auto;
}

.album-box {
    border-radius: 8px;
    color: gray;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.album-box:hover{
    transform: scale(1.1);
    color: lightskyblue;
    box-shadow: 8px 8px 16px darkgrey;
}

button{
    width: 100%;
    border-radius: 8px;
    min-height: 200px;
}

button:hover{
    transform: scale(1.1);
}

.track-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.track-card {
    border: solid thin;
    border-radius: 6px;
    background-color:silver ;
    padding:  0px 10px;
}

.track-card:hover {
    background-color: darkgray;
    transform: scale(1.15);
}

.temp-color{
    background-color: lightpink;
}


@media screen and (min-width: 640px) {
    .album-list {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .album-box {
        margin: 0px;
    }

}

@media screen and (min-width: 960px) {
    .album-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}